{% if landheader %}
<header class="bg-dark py-3">
    <div class="container px-4">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="image-container d-xl-none pt-3">
                <a href="{{ landheader.image.link }}">
                    <img class="img-fluid rounded-3" src="{{ landheader.image.src }}" target="{{ landheader.image.target }}"/>
                    <div class="play-button"></div>
                </a>
            </div>
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{ landheader.title }}</h1>
                    <p class="lead fw-normal text-white-50 mb-4">{{ landheader.description }}</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        {% if landheader.btnmain %}<a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ landheader.btnmain.link | link(PARENTING) }}" target="{{ landheader.btnmain.target }}">{{ landheader.btnmain.label }}</a>{% endif %}
                        {% if landheader.btn2 %}<a class="btn btn-outline-light btn-lg px-4" href="{{ landheader.btn2.link }}">{{ landheader.btn2.label }}</a>{% endif %}
                    </div>
                </div>
            </div>
            <div class="image-container col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <a href="{{ landheader.image.link }}" target="{{ landheader.btnmain.target }}">
                    <img class="img-fluid rounded-3 my-5" src="{{ landheader.image.src | link(PARENTING) }}" target="{{ landheader.image.target }}"/>
                    <div class="play-button"></div>
                </a>
            </div>
        </div>
    </div>
</header>
{% endif %}
