{% if article %}{% with ar=article %}
<div class="container px-4 my-4">
    <div class="row gx-5">
        <div class="col-lg-3">
            <div class="d-flex align-items-center mt-lg-5 mb-4">
                {% if ar.author_image %}<img class="img-fluid rounded-circle" src="{{ ar.author_image }}" width="50"/>{% endif %}
                <div class="ms-3">
                    {% if ar.author_name %}<div class="fw-bold">{{ ar.author_name }}</div>{% endif %}
                    {% if ar.author_meta %}<div class="text-muted">{{ ar.author_meta }}</div>{% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ ar.post_title }}</h1>
                    {% if ar.post_meta %}<div class="text-muted fst-italic mb-2">{{ ar.post_meta }}</div>{% endif %}
                </header>
                <section class="mb-5">{{ ar.post_content|markdown|safe }}</section>
            </article>
        </div>
    </div>
</div>
{% endwith %}{% endif %}
