{% if article_preview_head %}{% with aph=article_preview_head %}
<section class="py-5">
    <div class="container px-4">
        <h1 class="fw-bolder fs-5 mb-4">{{ html_title }}</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5">
                        <div class="p-4 p-md-5">
                            <div class="h2 fw-bolder">{{ aph.post_title }}</div>
                            <p>{{ aph.excerpt }}</p>
                            <a class="stretched-link text-decoration-none" href="{{ aph.link }}">
                                <i class="fs-2 bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('{{ parenting }}{{ aph.cover }}')"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endwith %}{% endif %}
